.count ul {
	width: 100%;
	list-style: none;

	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 20px;
	/* identical to box height, or 154% */
}

.count ul li {
	height: 40px;
	display: flex;
	align-items: center;

	&:hover {
		background: #f1fcff;
		cursor: pointer;
	}
}

.count ul li div {
	display: inline-flex;
}

.count ul li input {
	margin: 0 10px 0 20px;
}

.count input {
	border: 1px solid #2196f3;
	box-sizing: border-box;
	border-radius: 2px;
}

.count ul label {
	width: 100%;
}

.count label input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkmark {
	position: relative;
	height: 20px;
	width: 20px;
	border: 1px solid #9abbce;
	box-sizing: border-box;
	border-radius: 2px;
	margin: 0 10px 0 20px;
}

.count label input:checked ~ .checkmark {
	border: 1px solid #2196f3;
	box-sizing: border-box;
	border-radius: 2px;
}

.checkmark:after {
	content: '';
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.count label input:checked ~ .checkmark:after {
	display: block;
}

.count label .checkmark:after {
	position: absolute;
	left: 6px;
	top: 3px;
	width: 6px;
	height: 10px;
	border: solid #2196f3;
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
