.ticket {
	width: 502px;
	height: 184px;
	margin-top: 20px !important;
	padding: 20px 0 0 20px;
	background: #ffffff;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	transition-duration: 0.3s;

	& .header {
		height: 36px;
		left: 375px;
		top: 250px;
		margin-bottom: 20px;
		display: flex;

		& .price {
			font-family: Open Sans;
			font-style: normal;
			font-weight: 600;
			font-size: 24px;
			line-height: 24px;
			display: flex;
			align-items: center;
			color: #2196f3;
		}

		& .logo-s7 {
			text-align: right;
			right: 50px;
		}
	}

	& .row {
		height: 39px;
		margin-bottom: 10px !important;
		display: flex;
	}

	&:hover {
		cursor: pointer;
		box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
	}
}

.header-left,
.header-center,
.header-right {
	font-family: Open Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 18px;
	display: flex;
	align-items: center;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	color: #a0b0b9;
}

.body-left,
.body-center,
.body-right {
	font-family: Open Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 21px;
	/* identical to box height, or 150% */

	display: flex;
	align-items: center;

	color: #4a4a4a;
}
